* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica;
}
header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}
.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}

nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: #ffffff;
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url("../images/img1.jpg");
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column {
    flex-direction: column;
}

.banner-headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-headline h1 {
    color: #ffffff;
    font-size: 60px;
    text-shadow: 0px 1px 0px #555555;
    max-width: 300px;
}

.banner-headline h2 {
    color: #ffffff;
    font-size: 23px;
    text-shadow: 0px 1px 0px #555555;
    max-width: 280px;
    margin-top: 30px;
}
.banner-options {
    height: 210px;
    display: flex;
}

.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: #ffffff;
    padding: 20px;
}

.banner1 {
    background-color: #39aae1;
}

.banner2 {
    background-color: #0079c7;
}

.banner3 {
    background-color: #2b4c99;
}

.banner-title {
    font-size: 21px;
}

.banner-description {
    font-size: 14px;
    margin-top: 17px;
    margin-bottom: 17px;
    line-height: 18px;
    text-align: justify;
}

.banner-options a {
    display: inline-block;
    border: 1px solid #ffffff;
    padding: 5px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.week {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
    border-bottom: 1px solid #bdb9b944;
    font-size: 14px;
}

.weekday {
    margin-bottom: 10px;
}

#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}

.widget-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.widget-text {
    color: #000;
    font-size: 21px;
    font-weight: bold;
}

.widget-bar {
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    min-width: 300px;

    margin-right: 20px;
}
article a {
    text-decoration: none;
}

article .data {
    display: flex;
}

article .posted {
    background-color: #2b4c99;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}

article .comments {
    background-color: #39aae1;
    color: #fff;
    font-size: 12px;
    padding: 10px;
}
article .thumbnail {
    margin-top: 30px;
}

article .thumbnail img {
    width: 100%;
    height: auto;
}

article .news-title {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 23px;
    color: #000;
}

article .resume {
    color: #5c5c5c;
    font: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}

#blocks {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
article .block {
    display: flex;
    margin-bottom: 60px;
    width: 130px;
    height: 130px;
    background-color: #39aae1;
}

.text {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 14px;
    color: #000;
}

.contact {
    color: #000;
    font-size: 14px;
}
.icon {
    display: flex;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    background-color: #555555;
}

.desc {
    display: flex;
    align-items: center;
    border-top: 1px solid #bdb9b944;
    padding-top: 15px;
    padding-bottom: 15px;
}

.desc a {
    text-decoration: none;
    margin-left: 2px;
    color: #2b4c99;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #1e1e1e;
}

.banner-footer {
    display: flex;
}

.banner-footer a {
    text-decoration: none;
    color: #ffffff;
}

.banner1-footer,
.banner2-footer,
.banner3-footer {
    flex: 1;

    padding: 20px;
}

.banner1-footer {
    background-color: #39aae1;
}
.banner2-footer {
    background-color: #0079c7;
}

.banner3-footer {
    background-color: #2b4c99;
}

footer .area-footer {
    display: flex;
}
.area-item {
    flex: 1;
}
footer .widget-text {
    color: #ffffff;
}

.banner-title {
    font-size: 22px;
    line-height: 20px;
    margin-bottom: 13px;
}
.banner-text {
    font-size: 13px;
}


.widget-boby {
    margin-top: 40px;
}

.text-clinic {
    color: #5c5c5c;
}

.text-clinic p {
    line-height: 22px;
}
.end-cont {
    display: flex;
    justify-content: space-between;
}
.endereco {
    width: 126px;
    color: #5c5c5c;
    margin-top: 25px;
   
}

.contato {
    margin-top: 35px;
    width: 156px;
    color: #5c5c5c;
    line-height: 23px;
    margin-right: 5px;
}

.contato a {
    
    color: #FFF;
    text-decoration: none;
}

.social-clinic {
    display: flex;
    margin-top: 40px;
}
.face {
    display: flex;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    background-color: #555555;

}

.tt {
    display: flex;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    background-color: #555555;

}

.youtube {
    display: flex;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    background-color: #555555;

}

.email {
    display: flex;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    background-color: #555555;

}

.latest-post {
    line-height: 22px;
    color: #FFF;
    margin-bottom: 15px;
}

.latest-post a {
    text-decoration: none;
    color: blue;
}

.latest-tweets {

    line-height: 22px;
    color: #5c5c5c;
    margin-bottom: 15px;
}

.latest-tweets a {
    text-decoration: none;
    color: #FFF;
}

.latest-tweets span a{
    
    color: blue;
    text-decoration: none;
}


.footer-copy {
    border-top: 1px solid #8f8e8e;
    line-height: 40px;
    height: 40px;
    margin-top: 30px;
    font-size: 14px;
    color: #FFF;
}

.footer-copy a {
    text-decoration: none;
    color: #5c5c5c;
}